{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- menu section -->
  <section class="padding-y" id = "cart">
    <div class = "container">
        <div class = "checkout-row" style="margin-top: 2rem;">
          <div class = "col-checkout" id="form-wrapper">
            
            <form id="form" action="" method="POST">
              {% csrf_token %}
                <h3 style="color: #996633; font-weight: 500;">Shipping Information</h3>
                {{form.as_p}}
              
              <input id="form-button" type="submit" value = "Continue">
            </form>
            
          </div>
          <div class = "col-checkout">
            <div class = "cnt-shop" style="border-bottom:1px solid #996633;" >
              <a class="btn-cnt-shop" href="{% url 'mycart' %}">&#8592; Back To Cart</a>
            </div>
            <h3 style="border-bottom:1px solid #996633;">Order Summary</h3>
            {% for item in cart.cartproduct_set.all %}
            <div class="order-summary-list">
              <div class = "row-image-summary">
                <img src="{{item.product.img.url}}">
              </div>
              <div class = "order-list-summary">
                <h3>{{item.product.item_name}}</h3>
                <p class = "text"></p>
              </div>
              <div class = "order-list-summary">
                <h3>Rs.{{item.product.price}}</h3>
                <p class = "text"></p>
              </div>
              <div class = "order-list-summary">
                <h3>{{item.quantity}}</h3>
                <p class = "text"></p>
              </div>
            </div>
            {% endfor %}
            <h5>Items: {{order.get_cart_items}}</h5>
            <h5>Total: Rs.{{cart.total|floatformat:2}}</h5>
          </div>
        </div>
    </div>
  </section>
  <!-- end of menu section -->



{% endblock content %}
    
    