.btn-cnt-shop{
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
    border: 2px solid #996633;
    margin: 0 0 0 20px;
    padding: 10px 25px;
    border-radius: 50px;
    margin-top: 1.75rem;
    transition-duration: 0.4s;
    background-color: white;
}

.btn-cnt-shop:hover{
    background-color: #996633;
    color: white;
}

.cart-item a{
    margin-left: 8rem;
    display: block;
    background: #996633;
    width: 120px;
    text-align: center;
    padding: 0.45rem 0;
    color: #fff;
    font-weight: 600;
    border-radius: 12px;
    transition: all 0.4s ease;
}
.cart-item a:hover{
    background: #252525;
}
/* .order-heading-row{
    background-color: #fafafa;
}
.order-heading-item{
    text-align: center;
    margin: 1.2rem 0;
}
.order-heading-item h3{
    font-weight: 400;
} */

.row-image{
    padding: 1.6rem 0;
}
/* .order-list-item{
    text-align: center;
    padding: 5rem 0;
}
.order-list-item h3{
    font-weight: 200;
} */

.row-image-summary{
   padding: 1rem 0;
}
.order-list-summary{
    padding: 1rem 1rem;
    

}
.order-list-summary h3{
    font-weight: 100;
    font-size: 1rem;
}


.col-checkout{
    background-color: #fafafa;
    padding-left: 1rem;

}

.hidden{
    display: none!important;
}

.order-summary-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    border-bottom: 1px solid #666;
    align-items: center;

}

form input{
    display: block;
    width: 85%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}
form input[type = text], form input[type = number], form input::placeholder, select{
    color: #9a9a9a;
}
form input[type = submit]{
    color: #fff;
    background: #996633;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}
form input[type = submit]:hover{
    opacity: 0.9;
}

.payment-btn{
    display: block;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    color: #fff;
    background: #996633;
    border-radius: 4px;
    cursor: pointer;
}

.payment-btn:hover{
    opacity: 0.9;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.order-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}



@media screen and (min-width: 992px){

    /* .order-list-row{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 2rem;
        border-bottom: 1px solid #666;
        height: 12rem;
    } */
}

@media screen and (min-width: 1200px){
    /* checkout */
    .checkout-row{
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        /* align-items: center; */
        column-gap: 2rem;
    }
}