{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sweet Delight</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- google fonts -->
    <link rel = "stylesheet" href = "{% static 'assets/fonts/font.css' %}">
    <!-- Fontawesome js -->
    <link rel = "stylesheet" href = "{% static 'assets/font-awesome/all.css' %}">
    
    <!-- custom style css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- my custom style css -->
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dokdo" rel="stylesheet">

    <script >
      var user = '{{request.user}}'
      function getToken(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  var csrftoken = getToken('csrftoken');
    </script>

  </head>
  
  <body>

    <!-- header -->
    <header>
      
     <!-- navbar -->
      <nav class = "navbar">
        <div class = "container">
          <div class = "brand-and-toggler">
            <a class = "navbar-brand">
              <img src = "{% static 'assets/images/logo.png' %}" alt = "logo">
              <h2>Sweet Delight</h2>
            </a>
            <button type = "button" id = "navbar-toggler">
              <i class = "fas fa-bars"></i>
            </button>
          </div>
          <div class = "navbar-collapse">
            <ul class = "navbar-nav">
              <li><a  href = "#home">Home</a></li>
              <li><a  href = "#about">About</a></li>
              <li><a  href = "#services">Event</a></li>
              <li><a  href = "#openings">Opening</a></li>
              <li><a  href = "#menu">Menu</a></li>
              <li><a  href = "#gallery">Gallery</a></li>
              <li><a  href = "#contact">Contact</a></li>
              <li>
                <a href = "/login/">
                  <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
                </a>
              </li>
              
              <li>
                <a href = "{% url 'cart' %}">
                  <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                </a>
                <span style="color: #996633;">{{cartItems}}</span>
              </li>
              <li>
                <a  href = "/register/">
                  <i class="fa fa-user-plus" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- end of navbar -->
      
    </header>
    <!-- end of header -->
{% block content %}

{% endblock content %}
  <!-- contact section -->
  <section class = "padding-y contact" id = "contact"> 
    <div class = "contact-info">
      <div class = "container">
        <div class = "contact-row-2">
          <div class = "contact-col-1">
            <h2>Contact Detail</h2>
            <ul>
              <li>Lakeside, Baidam-6 Pokhara</li>
              <li>Kaski, Nepal 33700</li>
              <li>Contact: +977-061-590999</li>
              <li>Email: sweetdelight@gmail.com</li>
              
            </ul>
          </div>
          <div class = "contact-col-2">
            <h2>Connect With Us</h2>
            <p class = "text"></p>
            <ul class = "center">
              <li class = "center">
                <a href = "#">
                  <i class = "fab fa-facebook-f"></i>
                </a>
              </li>
              <li class = "center">
                <a href = "#">
                  <i class = "fab fa-twitter"></i>
                </a>
              </li>
              <li class = "center">
                <a href = "#">
                  <i class = "fab fa-instagram"></i>
                </a>
              </li>
              <li class = "center">
                <a href = "#">
                  <i class = "fab fa-pinterest"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of contact section -->

        <footer>
            <p class = "text">Copyright & copy; Sweet Delight Website 2021.</p>
        </footer>
        <!-- end of footer -->
    
    
        <!-- jQuery -->
        <script src = "{% static 'assets/jquery/jquery-3.5.1.js' %}"></script>
        <!-- Fontawesome js -->
        <script src = "{% static 'assets/font-awesome/all.js' %}"></script>
        
        <!-- custom js file -->
        <script src="{% static 'js/script.js' %}"></script>
        <script src="{% static 'js/cart.js' %}"></script>
        
    </body>
  </html>