{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Reservation Form</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/reserve.css' %}">
        <link rel = "stylesheet" href = "{% static 'assets/fonts/font.css' %}">
    </head>
    <body>
        
        <section class = "banner">
            <h2 style="font-family: cursive;">BOOK YOUR EVENT DATE</h2>
            <div class = "card-container">
                <div class = "card-img">
                    <!-- image here -->
                </div>

                <div class = "card-content">
                    <h3 style="color: #996633;">Make Reservation</h3>
                    <form action="booking/" method="post">
                        {% csrf_token %}
                        <div class = "form-row">
                            <select name = "month">
                                <option value = "month-select">Month</option>
                                <option value = "jan">Jan</option>
                                <option value = "feb">Feb</option>
                                <option value = "mar">Mar</option>
                                <option value = "apr">Apr</option>
                                <option value = "may">May</option>
                                <option value = "jun">Jun</option>
                                <option value = "jul">Jul</option>
                                <option value = "aug">Aug</option>
                                <option value = "sep">Sep</option>
                                <option value = "oct">Oct</option>
                                <option value = "nov">Nov</option>
                                <option value = "dec">Dec</option>
                            </select>

                            <div class = "form-row">
                                <input type = "number" name="date" placeholder="Date" min = "1">
                            </div>
                        </div>

                        <div class = "form-row">
                            <select name = "hours">
                                <option value = "hour-select">Hour</option>
                                <option value = "10">10: 00</option>
                                <option value = "10">12: 00</option>
                                <option value = "10">14: 00</option>
                                <option value = "10">16: 00</option>
                                <option value = "10">18: 00</option>
                                <option value = "10">20: 00</option>
                                <option value = "10">22: 00</option>
                            </select>

                            <select name = "event">
                                <option value = "day-select">Event Type</option>
                                <option value = "wedding">Wedding</option>
                                <option value = "birthday">Birthday</option>
                                <option value = "anniversary">Anniersary</option>
                                <option value = "babyshower">Baby Shower</option>
                                <option value = "other">Other</option>
                            </select>
                        </div>

                        <div class = "form-row">
                            <input type = "text" name="fullname" placeholder="Full Name">
                            <input type = "text" name="mobile" placeholder="Phone Number">
                        </div>

                        <div class = "form-row">
                            <input type = "number" name="people" placeholder="How Many Persons?" min = "1">
                            <input type = "submit" value = "BOOK EVENT">
                        </div>
                        {% for message in messages %}
                        <label>{{message}}</label>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </section>
        
    </body>
</html>