{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Reservation Form</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/reserve.css' %}">
        <link rel = "stylesheet" href = "{% static 'assets/fonts/font.css' %}">
    </head>
    <body>
        
        <section class = "banner">
            <h2 style="font-family: cursive;">BOOK YOUR EVENT DATE</h2>
            <div class = "card-container">
                <div class = "card-img">
                    <!-- image here -->
                </div>

                <div class = "card-content">
                    <h3>Reservation</h3>
                    <form>
                        <div class = "form-row">
                            <select name = "month">
                                <option value = "month-select">Month</option>
                                <option value = "jan">Jan</option>
                                <option value = "feb">Feb</option>
                                <option value = "mar">Mar</option>
                                <option value = "apr">Apr</option>
                                <option value = "may">May</option>
                                <option value = "jun">Jun</option>
                                <option value = "jul">Jul</option>
                                <option value = "aug">Aug</option>
                                <option value = "sep">Sep</option>
                                <option value = "oct">Oct</option>
                                <option value = "nov">Nov</option>
                                <option value = "dec">Dec</option>
                            </select>

                            <select name = "date">
                                <option value = "date-select">Date</option>
                                <option value = "1">1</option>
                                <option value = "2">2</option>
                                <option value = "3">3</option>
                                <option value = "4">4</option>
                                <option value = "5">5</option>
                                <option value = "6">6</option>
                                <option value = "7">7</option>
                                <option value = "8">8</option>
                                <option value = "9">9</option>
                                <option value = "10">10</option>
                                <option value = "11">11</option>
                                <option value = "12">12</option>
                                <option value = "13">13</option>
                                <option value = "14">14</option>
                                <option value = "15">15</option>
                                <option value = "16">16</option>
                                <option value = "17">17</option>
                                <option value = "18">18</option>
                                <option value = "19">19</option>
                                <option value = "20">20</option>
                                <option value = "21">21</option>
                                <option value = "22">22</option>
                                <option value = "23">23</option>
                                <option value = "24">24</option>
                                <option value = "25">25</option>
                                <option value = "26">26</option>
                                <option value = "27">27</option>
                                <option value = "28">28</option>
                                <option value = "29">29</option>
                                <option value = "30">30</option>
                                <option value = "31">31</option>
                            </select>
                        </div>

                        <div class = "form-row">
                            <select name = "hours">
                                <option value = "hour-select">Hour</option>
                                <option value = "10">10: 00</option>
                                <option value = "10">12: 00</option>
                                <option value = "10">14: 00</option>
                                <option value = "10">16: 00</option>
                                <option value = "10">18: 00</option>
                                <option value = "10">20: 00</option>
                                <option value = "10">22: 00</option>
                            </select>

                            <select name = "type">
                                <option value = "day-select">Event Type</option>
                                <option value = "wedding">Wedding</option>
                                <option value = "birthday">Birthday</option>
                                <option value = "anniversary">Anniersary</option>
                                <option value = "babyshower">Baby Shower</option>
                                <option value = "other">Other</option>
                            </select>
                        </div>

                        <div class = "form-row">
                            <input type = "text" placeholder="Full Name">
                            <input type = "text" placeholder="Phone Number">
                        </div>

                        <div class = "form-row">
                            <input type = "number" placeholder="How Many Persons?" min = "1">
                            <input type = "submit" value = "BOOK EVENT">
                        </div>
                    </form>
                </div>
            </div>
        </section>
        
    </body>
</html>