{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login Form</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/log.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>
<body>
  <div class="cont">

    <!-- sign-in form -->
    <div class="form sign-in">
      <h2>Admin Sign In</h2>

      <form action ="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="submit" type="submit">Sign In as Admin</button>
        
        {% if error %}
        <li style="color: red;">{{error}}</li>
        {% endif %}
        <p class="forgot-pass">Forgot Password ?</p>
      </form>
         

    </div>

    <div class="sub-cont">
      <div class="img">
        <div class="img-text m-up">
          <h2>Welcome to login!</h2>
          <p></p>
        </div>
        
        <!-- <div class="img-btn">
         <span class="button" href="register/">Sign Up</span> 
        </div> -->

      </div>
  </div>

</body>
</html>